@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes neon-pulse {

    0%,
    100% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(130%);
    }
}